<h1 class="mt-4">Admin Dashboard</h1>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Store Stats</h4>
    <p class="card-text">
      Total Products: 
      <%= link_to @product_count, "admin/products" %> 
      <br>
      Total Categories: 
      <%= @category_count %>
    </p>
  </div>
</div>
